<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<!-- dependent class -->
	<bean id="date" class="java.util.Date"></bean>

	<!-- target class -->
	<bean id="msgGenerate" class="com.spring.beans.MessageGenerator">
	
	<property name="date" ref="date"></property>
	
	
	</bean>

</beans>